#
# upd configuration sample
# -----------------------

# The address to listen to with the server.
listen_addr = ":9000"

# The secret key to identify the client. (optional)
secret_key = ""

# Route served by the server.
route = "/upd"

# Path to a tls certificate file. Ex: /usr/share/certs/upd.pem (optional)
certificate = ""

# Path to a tls certificate key. Ex: /usr/share/certs/key.pem (optional)
certificate_key = ""

# Directory in which the server can write the runtime files.
runtime_dir = "/tmp" 

# 
# Storage configuration
#

# Which storage you want to use to store the files
# Possible values: fs, s3
storage = "fs"

#
# Filesystem storage configuration
#
[fsstorage]

# If you chose 'fs' as a storage, you must provide an
# output directory
output_dir = "/tmp"


#
# S3 storage configuration
#
[s3storage]

access_key = ""
access_secret = ""
region = "" # example 'eu-west-1'
bucket = ""
